.return-icon-container {
  left: 20px;
  position: absolute;
  top: 3%;
  width: 40px;
  z-index: 1;
}

@media (min-width: 1367px) {
  .return-icon-container {
    left: 3%;
    top: 4%;
    width: 70px;
  }
}
