.disabled-button-message-box h2 {
  color: #fff;
  font: normal normal 20px 'Roboto', Arial, sans-serif;
}

.disabled-button-message-box p {
  color: #efefef;
  font: normal normal 16px 'Roboto', Arial, sans-serif;
}
