/* GENERAL SETTINGS */
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  list-style-position: inside;
}

body {
  background: #cdfffe url('../images/home-background.jpg') center no-repeat
    fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

h2 {
  letter-spacing: 0.5px;
  font-size: 30px;
}

h2,
h3 {
  color: #fff;
  text-align: center;
}

#click_on_window_message, #loader-container {
  background-color: #181d20fb;

  width: 100vw;
  height: 100vh;
  padding-top: 10%;

  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#loader-container {
  display: none;
}

#click_on_window_message {
  background-color: #000;
  cursor: pointer;
}

#click_on_window_message h2, #loader-container h2 {
  color: rgb(1, 228, 228);
  text-shadow: 0 0 15px #16a4a8;
  font-size: 50px;
  animation: moveLoadingTitle 0.8s alternate infinite;
}

#click_on_window_message h2 {
  max-width: 70%;
}

.click_gif_container {
  text-align: center;
  width: 100%;
}

.clickGif {
  width: 30%;
  animation: moveLoadingTitle 0.8s alternate infinite;
}

#loader {
  border-radius: 50%;
  box-shadow: 0px 5px 5px rgb(1, 217, 255);

  width: 150px;
  height: 150px;
  animation: SpinLoaderAnimation 2s linear infinite;
}

@keyframes moveLoadingTitle {
  0% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(3%);
  }
}

@keyframes SpinLoaderAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.show {
  transform: translate(-50%, 15%) scale(1) !important;
  transition: transform 0.4s ease;
}

.hide {
  display: none !important;
  z-index: -1 !important;
}

.menu {
  background-color: rgba(17, 17, 17, 0.9);
  border-radius: 10px;

  display: block;
  max-width: 700px;
  width: 100%;
  height: 470px;
  padding: 20px 20px;

  position: absolute;
  left: 50%;
  z-index: 100;
  user-select: none;
  transform: translate(-50%, 20%) scale(0);
}

/* GAME MENU */
.game-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;

  height: 100vh;
  width: 100%;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  overflow-y: auto;
}

.game-menu h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 1px 10px rgb(1, 217, 255);
  margin: 0 auto;
}

.top_bar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: max-content;
  width: 100%;
  padding: 10px 15px;

  z-index: 100;
  position: absolute;
  top: 0;
}

.top_bar_container__background {
  background-image: linear-gradient(#10bb9f, #16a4a8);
  border-radius: 0 0 25px 25px;
}

.top_bar_container .top_bar_left_content {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.top_bar_container .top_bar_left_content h3 {
  color: #fff;
  padding: 5px 10px;
}

.top_bar_container .top_bar_left_content h3:last-child {
  cursor: default;
  display: flex;
  align-items: center;
  gap: 5px;
}

.top_bar_container .top_bar_left_content h3 .heart {
  cursor: pointer;
  font-size: 20px;
}

.alive_heart {
  color: red;
}

.dead_heart {
  transition: 0.3s ease-out;
  color: #202020;
}

.top_bar_container .top_bar_right_content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.top_bar_container img {
  opacity: 0.8;
  cursor: pointer;
  height: 30px;
}

.top_bar_container img:hover {
  opacity: 1;
}

.top_bar_container .toggleFullscreenIcon {
  pointer-events: all !important;
}

/* GAME SETTINGS OPTIONS */
.settings {
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(89, 230, 255, 0.7);
  background-image: linear-gradient(to bottom, #2f4246, #181d20);

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding-block: 10px;
  max-height: 300px;
  height: 100%;
  max-width: 400px;
  width: 100%;
}

.setting-option {
  border: 1px solid rgba(89, 230, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(89, 230, 255, 0.7);
  background-image: linear-gradient(#091114e8, #060c0e);
  color: #fff;

  font-size: 20px;

  width: 95%;
  padding-block: 8px;
  cursor: pointer;
}

.setting-option:hover {
  background-image: linear-gradient(#14899b, #16a4a8);
}

.setting-option:active {
  background-image: linear-gradient(#2dcadf, #04a0c7);
}

/* THEMES CONTAINER SCROLL BAR */
.themes-container::-webkit-scrollbar {
  width: 12px;
}

.themes-container::-webkit-scrollbar-track {
  background: #292929;
}

.themes-container::-webkit-scrollbar-thumb {
  background-color: #10bb9f;
  border-radius: 20px;
  border: 2px solid #0e0e0e;
}

/* THEMES */
.themes-container {
  overflow-y: scroll;
}

.themes-container.menu {
  height: 90vh;
  max-width: 800px;
}

.themes-container.show {
  transform: translate(-50%, 5vh) scale(1) !important;
}

.close-themes-container {
  margin-left: 95%;
  max-width: fit-content;

  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 1;
}

.close-themes-container .close-icon {
  width: 20px;
  cursor: pointer;
}

.return-themes-container {
  position: absolute;
  top: 3%;
  left: 20px;
  z-index: 1;
}

.return-themes-container svg {
  display: none;
  cursor: pointer;
  fill: #f44336;
}

.themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: max-content;
  position: relative;
}

.theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  gap: 20px;

  width: 50%;
  height: 250px;
  padding-block: 10px;
  position: relative;
}

.theme .theme-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.theme .theme-image {
  width: 100%;
}

.theme #ben-10 {
  width: 50%;
}

.theme h3 {
  width: 50%;
  font-size: 22px;
}

.play-themeBtn,
.switchButton {
  border: 1px solid rgba(89, 230, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(89, 230, 255, 0.7);
  background-image: linear-gradient(#016f97e8, #10bb9f);
  color: #fff;

  font-size: 15px;
  padding: 8px 10px;

  cursor: pointer;
  transition: 0.3s ease;
}

.play-themeBtn:hover {
  transform: scale(1.1);
  background-image: linear-gradient(#243469e8, #1093bb);
}

.play-themeBtn:active {
  background-image: linear-gradient(#1a7fd1e8, #048cb6);
}

/* Difficulties */
.difficulties-container {
  display: none;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;

  margin-top: 80px;
  width: 100%;
}

.difficulty-level {
  box-shadow: 0px 0px 22px #048cb6;
  border: none;
  background-image: linear-gradient(#20bf55, #01baef);
  color: #fff;
  font-size: 25px;

  padding-block: 5px;
  max-width: 300px;
  width: 100%;

  cursor: pointer;
  transition: 0.3s ease;
}

.difficulty-level:hover {
  transform: scale(0.95);
  background-image: linear-gradient(#1aa548, #048db3);
  color: #fef;
}

.difficulty-level:active {
  background-image: linear-gradient(#20bf55c5, #00a1ce);
}

/* RANDOM THEMES */
.random-themes-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.random-themes {
  display: flex;
  justify-content: center;
  gap: 8px;

  width: 100%;
  position: relative;
  overflow: hidden;
}

.random-theme {
  text-align: center;
}

.random-theme img {
  border-radius: 5px;
  width: 240px !important;
}

.random-theme img#ben-10 {
  width: 60% !important;
}

.shuffleAnimationStart {
  animation: shuffleThemeStart 0.5s linear infinite alternate;
}

@keyframes shuffleThemeStart {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* HOME SETTINGS */
.home_settings_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Audio */
.audio-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  width: 100%;
}

.audio-content {
  display: flex;
  justify-content: center;
  gap: 20px;

  width: 50%;
}

.audio-content h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.audio-content h3 svg {
  fill: #fff;
  stroke: #000;
  width: 32px;
}

.audio-content .switch-audio-container {
  background-color: #10bb9f;
  border-radius: 15px;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.7);
  height: 35px;
  width: 70px;
  position: relative;
  transition: 0.3s;
}

.audio-content .switch-audio-container .switchButton {
  background-image: linear-gradient(#01baef 5%, #10bb9f);
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;

  position: absolute;
  top: -7%;
  right: 45%;
  transition: 0.3s;
}

.audio-content .switch-audio-container .switchButton:hover {
  transform: scale(1.05);
}

.audio-content .switch-audio-container .switchButton:active {
  background-image: linear-gradient(#048cb6 5%, #10bb9f);
  transform: scale(0.98);
}

.audio-content div.switch-audio-container button.switchButton.active {
  right: -5%;
}

.audio-container input[type='range'] {
  width: 150px;
  cursor: pointer;
}

.audio-container input[type='range']::-webkit-slider-runnable-track {
  border: none;
  border-radius: 20px;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  background: #2dcadf;
}

/* CREDITS */
.credits {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 500px;
  overflow: hidden;
}

.credits-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.credits-info .credits-image-creator {
  width: 50%;
  text-align: center;
  position: relative;
}

.credits-info .credits-image-creator img {
  background-size: cover;
  box-shadow: 0px 0px 20px #f7ccac;
  border-radius: 50%;

  width: 80%;
  margin-bottom: 15px;
}

.credits-info .credits-image-creator img#creator-background-image {
  position: absolute;
  height: 86.4%;
  z-index: -1;
}

.credits-info .social {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.credits-info .social h3 {
  line-height: 30px;
}

.credits-info .social > div {
  display: flex;
  align-items: center;
  gap: 5px;

  max-width: 200px;
  width: 100%;
  padding-inline: 5px;
}

.credits-info .social > div > svg {
  width: 15%;
  fill: #fff;
}

.credits-info .social .social-links {
  color: #fff;
  font-size: 16px;
  max-width: max-content;
}

.social-links:hover {
  text-decoration: underline;
}

/* DECK */
.deck-container {
  background: #00a1ce url('') no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.deck-container::-webkit-scrollbar {
  width: 12px;
}

.deck-container::-webkit-scrollbar-track {
  background: #292929;
}

.deck-container::-webkit-scrollbar-thumb {
  background-color: #10bb9f;
  border-radius: 20px;
  border: 2px solid #0e0e0e;
}

.ingame-settings {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
}

.ingame-settings.menu {
  width: 100%;
  height: 85%;
}

.ingame-settings.show {
  transform: translate(-50%, 10%) !important;
}

.ingame-settings .music-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.music-container .music-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.music-container .music-options .music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.music-options .music .playMusic {
  border: 1px solid rgba(89, 230, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(89, 230, 255, 0.7);
  background-image: linear-gradient(#016f97e8, #10bb9f);
  color: #fff;

  font-size: 20px;
  padding: 8px 10px;
  width: 35%;

  cursor: pointer;
  transition: 0.3s ease;
}

.playMusic:hover {
  transform: scale(1.1);
  background-image: linear-gradient(#243469e8, #1093bb);
}

.playMusic:active {
  background-image: linear-gradient(#1a7fd1e8, #048cb6) !important;
}

section.deck-container div.memory-deck {
  display: grid;
  justify-content: center;
  gap: 10px;

  width: 100%;
  margin-inline: auto;

  perspective: 1000px;
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
}

.memory-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  width: 90px;
  height: 115px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

/* Flip Transition */
.memory-card.flip {
  transform: rotateY(180deg);
}

/* Images Settings */
.front-face,
.back-face {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  padding: 20px;

  position: absolute;
}

.front-face {
  height: 80%;
}

.back-face {
  transform: rotateY(180deg);
}

.back-face[alt='Bulma'] {
  height: calc(100% + 50px);
  width: calc(100% - 20px);
}

@media (max-width: 580px) {
  #click_on_window_message h2 {
    font-size: 8vw;
  }

  .clickGif {
    width: 60%;
  }

  #loader-container {
    padding-top: 0;
    justify-content: center;
  }

  #loader-container h2 {
    font-size: 200%;
    max-width: 240px;
  }

  #loader {
    width: 120px;
    height: 120px;
  }

  .show {
    transform: translate(-50%, 10%) scale(1) !important;
  }

  .top_bar_container .top_bar_left_content {
    flex-wrap: wrap;
  }

  .top_bar_container .top_bar_left_content h3 {
    padding-block: 0;
  }

  .themes-container.show {
    transform: translate(-50%, 5%) scale(1) !important;
  }

  .themes {
    flex-direction: column;
  }

  #themes-title {
    max-width: 160px;
    margin: 0 auto;
  }

  .theme .theme-image-container {
    width: 100%;
  }

  .theme {
    height: 270px;
  }

  .theme h3 {
    width: 100%;
  }

  .credits-info .credits-image-creator {
    width: 100%;
  }

  .credits-info .credits-image-creator img {
    width: 42%;
  }

  .credits-info .credits-image-creator img#creator-background-image {
    height: 85%;
  }

  .deck-container {
    overflow-y: hidden;
  }

  .music-options .music .playMusic {
    width: 75%;
  }

  .audio-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .ingame-settings.menu {
    height: 85%;
  }

  .ingame-settings.show {
    transform: translate(-50%, 12%) !important;
  }

  .memory-deck {
    grid-template-columns: repeat(3, auto) !important;
    height: 80vh !important;
    width: max-content;

    margin: 0 auto;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    transform: translate(-50%, 0%);
  }

  .memory-deck::-webkit-scrollbar {
    width: 12px;
  }

  .memory-deck::-webkit-scrollbar-track {
    background: #292929;
  }

  .memory-deck::-webkit-scrollbar-thumb {
    background-color: #10bb9f;
    border-radius: 20px;
    border: 2px solid #0e0e0e;
  }
}

@media (max-width: 540px) {
  .credits-info .credits-image-creator img#creator-background-image {
    height: 83%;
  }
}

@media (max-width: 480px) {
  .theme {
    height: 240px;
  }

  .credits-info .credits-image-creator img#creator-background-image {
    height: 80%;
  }
}

@media (max-width: 380px) {
  .credits-info .credits-image-creator img#creator-background-image {
    height: 75%;
  }
}

@media (max-width: 305px) {
  .memory-card {
    width: 80px;
    height: 110px;
  }
}

@media (orientation: landscape) and (max-height: 600px) and (max-width: 800px) {
  .ingame-settings {
    gap: 10vw;
  }

  .ingame-settings.show {
    height: 92vh;
    transform: translate(-50%, 4%) !important;
  }

  .ingame-settings #ingame-settings-title {
    margin: 0 auto;
    font-size: 4vw;
  }

  .ingame-settings .music-container {
    flex-direction: row;
    width: 90%;
  }

  .ingame-settings .music-options .music .playMusic {
    padding-block: 4px;
    width: 70%;
  }

  .audio-content {
    position: relative;
    width: 100%;
    justify-content: flex-start;
  }

  .audio-container h3 {
    gap: 10px;
  }

  .memory-deck {
    grid-template-columns: repeat(3, auto) !important;
    height: 80vh !important;
    width: max-content;

    margin: 0 auto;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    top: 23% !important;
    transform: translate(-50%, 0%);
  }
}

@media (orientation: landscape) and (min-width: 420px) and (max-width: 920px) {
  .memory-deck {
    grid-template-columns: repeat(4, auto) !important;
    top: 15% !important;
  }
}

@media (orientation: landscape) and (min-width: 650px) {
  .memory-deck {
    grid-template-columns: repeat(6, auto) !important;
  }
}

@media (orientation: landscape) and (max-height: 300px) {
  section.deck-container div.memory-deck {
    top: 65% !important;
    padding-bottom: 20px;
  }
}

@media (orientation: portrait) and (max-width: 510px) {
  section.deck-container div.memory-deck {
    top: 54% !important;
  }
}

@media (min-width: 550px) and (max-width: 1000px) and (max-height: 500px) {
  .ingame-settings {
    gap: 0;
    justify-content: center;
  }
  
  .audio-content .switch-audio-container {
    width: 60px;
    position: fixed;
    right: 20%;
  }
}

@media (max-width: 300px) {
  .top_bar_container .top_bar_left_content * {
    font-size: 15px;
  }

  .top_bar_container .top_bar_left_content .heart {
    font-size: 15px !important;
  }
}
