@charset "UTF-8";

/* ------------------------------ FONTS ------------------------------ */
/* Forest Template*/
@font-face {
  font-family: 'Trebuchet';
  font-display: swap;
  src: url(../fonts/forest_template/trebuc.ttf);
}

/* Rainbow Template */
@font-face {
  font-family: 'Morning Rainbow';
  font-display: swap;
  src: url(../fonts/rainbow_template/MorningRainbow.ttf);
}

/* Military Template */
@font-face {
  font-family: 'Grind Demolished';
  font-display: swap;
  src: url(../fonts/military_template/Grind_Demolished.ttf);
}

/* GENERAL SETTINGS */
* {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(h1, h1 *) {
  font-weight: normal;
}

/* VARIABLES - TEMPLATES */

:root {
  --bird_top_position_animation: 2.5%;
  --bird_left_position_animation: 55%;
}

body.forest_template {
  font-family: 'Trebuchet';
}

.forest_template {
  --window_message_text_color: #01e4e4;
  --window_message_text_shadow: 0 0 15px #16a4a8;
  --loader_box_shadow: 0px 5px 5px #01d9ff;

  /* DEFAULT BACKGROUND IMAGE */
  --body_background_image: url('../images/templates/forest_template/forest_background.jpg');

  --main_title_gradient: linear-gradient(to bottom, #106370, #10bb9f);

  --top_bar_container_background_image_gradient: linear-gradient(
    #10bb9f,
    #16a4a8
  );
  --top_bar_container_svg_color: #2f4246;

  --settings_background_image_gradient: linear-gradient(
    to bottom,
    #2f4246,
    #181d20
  );
  --settings_box_shadow_color: #59e6ffb3;
  --setting_option_background_image_gradient: linear-gradient(
    #091114e8,
    #060c0e
  );

  --setting_option_border_color: #59e6ff99;
  --setting_option_box_shadow_color: #59e6ffb3;
  --setting_option_text_color: #cdfffe;
  --setting_option_hover_gradient: linear-gradient(#14899b, #16a4a8);
  --setting_option_active_gradient: linear-gradient(#2dcadf, #04a0c7);

  --scrollbar_thumb_background_color: #10bb9f;

  /* BUTTONS */
  --buttons_background_image_gradient: linear-gradient(#016f97e8, #10bb9f);
  --buttons_border_color: #59e6ff99;
  --buttons_box_shadow_color: #59e6ffb3;
  --buttons_hover_gradient: linear-gradient(#243469e8, #1093bb);
  --buttons_active_gradient: linear-gradient(#1a7fd1e8, #048cb6);

  --home_settings_color: #10bb9f;

  --switch_sounds_container--inactive_background_color: #444;
  --switch_sounds_container--active_background_color: #10bb9f;
  --switch_sounds_button_background_image_gradient: linear-gradient(
    #01baef 5%,
    #10bb9f
  );
  --switch_sounds_button_active_gradient: linear-gradient(#048cb6 5%, #10bb9f);

  --difficulty_level_button_background_image_gradient: linear-gradient(
    #20bf55,
    #01baef
  );
  --difficulty_level_button_box_shadow_color: #048cb6;
  --difficulty_level_button_hover_gradient: linear-gradient(#1aa548, #048db3);
  --difficulty_level_button_active_gradient: linear-gradient(
    #20bf55c5,
    #00a1ce
  );
}

body.rainbow_template {
  font-family: 'Morning Rainbow';
}

.rainbow_template {
  --window_message_text_color: #ff299e;
  --window_message_text_shadow: 0 0 15px #970556;
  --loader_box_shadow: 0px 5px 5px #ff299e;

  /* DEFAULT BACKGROUND IMAGE */
  --body_background_image: url('../images/templates/rainbow_template/rainbow_background.jpg');

  --main_title_gradient: linear-gradient(to bottom, #970556, #ff299e);

  --top_bar_container_background_image_gradient: linear-gradient(
    #f838f8,
    #db5c9b
  );
  --top_bar_container_svg_color: #ff92e4;

  --settings_background_image_gradient: linear-gradient(
    to bottom,
    #a01f55,
    #830b3d
  );
  --settings_box_shadow_color: #ff008cb3;
  --setting_option_background_image_gradient: linear-gradient(
    #fd6296 20%,
    #b93c66
  );

  --setting_option_border_color: #ff299e99;
  --setting_option_box_shadow_color: #a1308fb3;
  /* --setting_option_text_color: #ffaad9; */
  --setting_option_text_color: #fff;
  --setting_option_hover_gradient: linear-gradient(#eb3663, #ff74a2);
  --setting_option_active_gradient: linear-gradient(#df2f63, #fd4573);
  --scrollbar_thumb_background_color: #d40c98e8;

  /* BUTTONS */
  --buttons_background_image_gradient: linear-gradient(#d40c98e8, #861269);
  --buttons_border_color: #d40c98e8;
  --buttons_box_shadow_color: #d40c98e8;
  --buttons_hover_gradient: linear-gradient(#861269, #d40c98e8);
  --buttons_active_gradient: linear-gradient(#ac0249, #861269);

  --home_settings_color: #ff50d3;

  --switch_sounds_container--inactive_background_color: #a32765;
  --switch_sounds_container--active_background_color: #ff60aa;
  --switch_sounds_button_background_image_gradient: linear-gradient(
    #fc3f97 5%,
    #c005b7e8
  );
  /* when sound is off:
  linear-gradient(#ac0249 5%, #861269);
  */
  --switch_sounds_button_active_gradient: linear-gradient(#fa0075, #861269);

  --difficulty_level_button_background_image_gradient: linear-gradient(
    #ff6eab,
    #b80357
  );
  --difficulty_level_button_box_shadow_color: #fa0075;
  --difficulty_level_button_hover_gradient: linear-gradient(#f7438e, #b4507f);
  --difficulty_level_button_active_gradient: linear-gradient(#ff6ec3, #e72abe);
}

body.military_template {
  font-family: 'Grind Demolished';
}

.military_template {
  --window_message_text_color: #03942e;
  --window_message_text_shadow: 0 0 15px #02972f;
  --loader_box_shadow: 0px 5px 5px #03942e;

  --body_background_image: url('../images/templates/military_template/military_background.jpg');

  --main_title_gradient: linear-gradient(to bottom, #bff76d, #a09c5f);

  --top_bar_container_background_image_gradient: linear-gradient(
    #22990a,
    #7ec90f
  );
  --top_bar_container_svg_color: #fff;

  --settings_background_image_gradient: linear-gradient(
    to bottom,
    #8ead46ee,
    #7c7735
  );
  --settings_box_shadow_color: #009933b3;

  --setting_option_background_image_gradient: linear-gradient(
    to right,
    #aec257 30%,
    #375e13
  );
  --setting_option_border_color: #009933;
  --setting_option_box_shadow_color: #009933b3;
  --setting_option_text_color: #ddffe9;
  --setting_option_hover_gradient: linear-gradient(#5f7403, #aec257);
  --setting_option_active_gradient: linear-gradient(#99b908, #8a9c39);

  --scrollbar_thumb_background_color: #009933;

  /* BUTTONS */
  --buttons_background_image_gradient: linear-gradient(#01972ee8, #46bb10);
  --buttons_border_color: #01972ee8;
  --buttons_box_shadow_color: #01972ee8;
  --buttons_hover_gradient: linear-gradient(#32662be8, #32c45e);
  --buttons_active_gradient: linear-gradient(#01631fe8, #0d9135);

  --home_settings_color: #009933;

  --switch_sounds_container--inactive_background_color: #444;
  --switch_sounds_container--active_background_color: #7ec90f;
  --switch_sounds_button_background_image_gradient: linear-gradient(
    #30eb01 5%,
    #629e08
  );
  --switch_sounds_button_active_gradient: linear-gradient(#629e08 5%, #1c7a04);

  --difficulty_level_button_background_image_gradient: linear-gradient(
    #03bb0c,
    #446628
  );
  --difficulty_level_button_box_shadow_color: #048cb6;
  --difficulty_level_button_hover_gradient: linear-gradient(#446628, #018107);
  --difficulty_level_button_active_gradient: linear-gradient(
    #64d806c5,
    #61ca4c
  );
}

body {
  background: #cdfffe var(--body_background_image) center no-repeat fixed;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #292929;
}

body::-webkit-scrollbar-thumb {
  background-color: #313f3f;
  border-radius: 20px;
  border: 2px solid #0e0e0e;
}

h1,
h2,
h3 {
  text-align: center;
}

h2,
h3 {
  color: #fff;
}

h2 {
  letter-spacing: 0.5px;
  font-size: 30px;
}

#click_on_window_message,
#loader-container {
  background-color: #181d20fb;

  width: 100vw;
  height: 100vh;
  padding-top: 10%;

  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#click_on_window_message {
  background-color: #000;
  cursor: pointer;
}

#click_on_window_message h2,
#loader-container h2 {
  color: var(--window_message_text_color);
  text-shadow: var(--window_message_text_shadow);
  font-size: 50px;
  animation: moveLoadingTitle 0.8s alternate infinite;
}

#click_on_window_message h2 {
  max-width: 70%;
}

.click_gif_container {
  text-align: center;
  width: 100%;
}

.clickGif {
  width: 8%;
}

#loader {
  border-radius: 50%;
  box-shadow: var(--loader_box_shadow);

  width: 150px;
  height: 150px;
  animation: SpinLoaderAnimation 2s linear infinite;
}

@keyframes moveLoadingTitle {
  0% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(3%);
  }
}

@keyframes SpinLoaderAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.success {
  color: #080;
}

.error {
  color: #d00 !important;
}

.sign_up_in_container {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow-y: overlay;
  padding-block: 20px;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.sign_up_in_container #welcomeMessage {
  margin-bottom: 20px;
}

.sign_up_in_container form {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(253, 230, 237);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  max-width: 400px;
  padding: 20px 40px;
  width: 100%;
}

.sign_up_in_container form h2 {
  align-self: flex-start;
  color: #000;
  text-transform: uppercase;
}

.sign_up_in_container form .username_container,
.sign_up_in_container form .password_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
}

.sign_up_in_container form input {
  outline: none;
  padding: 5px;
  transition: 0.1s ease-in-out;
}

.sign_up_in_container form input:focus {
  border: 1px solid #000;
  padding: 10px;
}

.sign_up_in_container form .password_container .togglePassword {
  position: absolute;
  right: 3%;
  top: 30%;
  width: 22px;
}

.sign_up_in_container form .password_container .togglePassword img {
  cursor: pointer;
  width: 100%;
}

.sign_up_in_container form .password_container #passwordInfo {
  color: #555;
  font-size: 15px;
}

.sign_up_in_container form .submitButton {
  background-color: #313f3f;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  padding-block: 10px;
  text-transform: uppercase;
  width: 100%;
}

.sign_up_in_container form .submitButton:hover {
  background-color: #123030;
}

.sign_up_in_container form .submitButton:active {
  background-color: #3e5050;
}

.or_container {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.or_container * {
  border: 1px solid #bbb;
  color: #777;
}

.or_container p {
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
}

.or_container span {
  width: 45%;
}

.or_container #leftBar {
  left: 0;
}

.or_container #rightBar {
  right: 0;
}

.play_anonymously_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.play_anonymously_container *,
.auth_option * {
  color: #555;
}

.play_anonymously_container h3 {
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
  width: max-content;
}

.play_anonymously_container h3:hover {
  color: #222;
}

.auth_option h3 {
  font-size: 18px;
}

.auth_option h3 #auth_button {
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
}

.auth_option h3 #auth_button:hover {
  color: #222;
}

.show {
  transform: translate(-50%, 5%) scale(1) !important;
  transition: transform 0.2s ease;
}

.hide {
  display: none !important;
  z-index: -1 !important;
}

.menu {
  background-color: #111111e6;
  border-radius: 10px;

  display: block;
  height: 90vh;
  width: 100%;
  max-width: 800px;
  padding: 20px 20px;

  position: absolute;
  left: 50%;
  z-index: 100;
  user-select: none;
  transform: translate(-50%, 20%) scale(0);
}

/* GAME MENU */
.game-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;

  height: 100vh;
  width: 100%;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.game-menu h1 {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  margin: 0 auto;
}

.game-menu h1 span {
  filter: drop-shadow(0 0 1px #000);
}

.game-menu h1 #memory_txt {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: var(--main_title_gradient);
}

.game-menu h1 #game_txt {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: var(--main_title_gradient);
}

/* Forest Template Animation */
@keyframes FlyingAnimation {
  0% {
    top: 0;
    left: 0;
  }
  35% {
    top: 0;
  }
  44% {
    top: var(--bird_top_position_animation);
  }
  49% {
    left: var(--bird_left_position_animation);
  }
  70% {
    top: var(--bird_top_position_animation);
    left: var(--bird_left_position_animation);
    transform: rotateY(0deg);
  }
  75% {
    top: 0;
    left: var(--bird_left_position_animation);
    transform: rotateY(180deg);
  }
  98% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
    left: 0;
  }
}

.flying_animation {
  animation: FlyingAnimation 20s infinite;
}

.game-menu .template_animation {
  height: max-content;
  position: absolute;
  left: 0;
}

.forest_template .game-menu .template_animation {
  perspective: 1000px;
  top: 0;
  width: 50px;
}

.forest_template .game-menu .template_animation img {
  width: 100%;
}

/* Rainbow Template Animation */

/* Military Template Animation */
.military_template .game-menu .template_animation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  top: 9%;
  height: 300px;
  width: 100vw;
  pointer-events: none;
}

.military_template .game-menu .template_animation .army_soldier {
  position: absolute;
  top: 30%;
  width: 70px;
}

.game-menu .template_animation #left_army_soldier {
  left: 0;
}

.game-menu .template_animation #right_army_soldier {
  right: 2%;
  transform: rotateY(180deg);
}

.military_template .game-menu .template_animation #bullet {
  background-image: linear-gradient(
    to right,
    #c38755 20%,
    #107346,
    #c36f55 90%
  );
  border-radius: 30% 50%;
  display: none;
  height: 5px;
  left: 11vw;
  position: absolute;
  top: 36%;
  width: 18px;
}

.HorizontalBulletAnimation {
  animation: HorizontalBulletAnimation 1.8s;
}

.VerticalBulletAnimation {
  animation: VerticalBulletAnimation 1.8s;
}

.LeftSoldierAnimation {
  animation: LeftSoldierAnimation 1s;
}

.LeftSoldierGoesDown {
  animation: LeftSoldierGoesDownAnimation 1s;
}

.RightSoldierAnimation {
  animation: RightSoldierAnimation 1s;
}

.RightSoldierGoesDown {
  animation: RightSoldierGoesDownAnimation 1s;
}

.RightSoldierShootToTheBottomAnimation {
  animation: RightSoldierShootToTheBottomAnimation 1.5s;
}

.RightSoldierShootToTheTopAnimation {
  animation: RightSoldierShootToTheTopAnimation 1.5s;
}

@keyframes HorizontalBulletAnimation {
  0% {
    left: 11vw;
  }
  100% {
    left: 105vw;
  }
}

@keyframes VerticalBulletAnimation {
  0% {
    left: 11vw;
    top: 39%;
    transform: rotate(0deg);
  }
  100% {
    left: 87vw;
    top: 14%;
    transform: rotate(-15deg);
  }
}

@keyframes RightSoldierGoesDownAnimation {
  0% {
    top: 5%;
  }
  100% {
    transform: rotateY(180deg) rotate(-15deg);
    top: 30%;
  }
}

@keyframes RightSoldierShootToTheBottomAnimation {
  0% {
    left: 85vw;
    top: 14%;
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(-15deg) translateX(-150%);
    left: 0vw;
    top: 39%;
  }
}

@keyframes RightSoldierShootToTheTopAnimation {
  0% {
    left: 85vw;
    top: 32%;
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(15deg) translateX(-150%);
    left: 0vw;
    top: 14%;
  }
}

@keyframes RightSoldierAnimation {
  0% {
    top: 30%;
  }
  100% {
    transform: rotateY(180deg) rotate(30deg);
    top: 5%;
  }
}

@keyframes LeftSoldierAnimation {
  0% {
    top: 30%;
  }
  100% {
    top: 5%;
  }
}

@keyframes LeftSoldierGoesDownAnimation {
  0% {
    top: 5%;
  }
  100% {
    top: 30%;
  }
}

/* TOP BAR CONTAINER*/

.top_bar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: max-content;
  width: 100%;
  padding: 10px 15px;

  z-index: 100;
  position: absolute;
  top: 0;
}

.top_bar_container__background {
  background-image: var(--top_bar_container_background_image_gradient);
  border-radius: 0 0 25px 25px;
}

.top_bar_container .top_bar_left_content {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.top_bar_container .top_bar_left_content h3 {
  color: #fff;
  padding: 5px 10px;
}

.top_bar_container .top_bar_left_content h3:last-child {
  cursor: default;
  display: flex;
  align-items: center;
  gap: 5px;
}

.top_bar_container .top_bar_left_content h3 .heart {
  cursor: pointer;
  font-size: 20px;
}

.top_bar_container .top_bar_right_content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.top_bar_container .toggleFullscreenIcon_container,
#settingsIcon {
  height: 30px;
}

.top_bar_container svg {
  cursor: pointer;
  fill: var(--top_bar_container_svg_color);
  height: 100%;
  opacity: 0.8;
  pointer-events: all !important;
}

.top_bar_container svg:hover {
  opacity: 1;
}

/* LIVES FOR THE GAME */

.alive_heart {
  text-shadow: 0 0 3px #000000;
  color: red;
}

.dead_heart {
  transition: 0.3s ease-out;
  color: #202020;
}

/* GAME SETTINGS OPTIONS */
.settings {
  border-radius: 10px;
  box-shadow: 0px 0px 8px var(--settings_box_shadow_color);
  background-image: var(--settings_background_image_gradient);

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding-block: 10px;
  max-height: 300px;
  height: 100%;
  max-width: 400px;
  width: 100%;
}

.setting-option {
  border-radius: 10px;
  border: 1px solid var(--setting_option_border_color);
  box-shadow: 0px 0px 4px var(--setting_option_box_shadow_color);
  background-image: var(--setting_option_background_image_gradient);
  color: var(--setting_option_text_color);

  font-size: 20px;

  width: 95%;
  padding-block: 8px;
  cursor: pointer;
}

.setting-option:hover {
  background-image: var(--setting_option_hover_gradient);
  color: #fff;
}

.setting-option:active {
  background-image: var(--setting_option_active_gradient);
}

/* MENU SCROLL BAR */
.menu::-webkit-scrollbar {
  width: 12px;
}

.menu::-webkit-scrollbar-track {
  background: #292929;
}

.menu::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar_thumb_background_color);
  border-radius: 20px;
  border: 2px solid #0e0e0e;
}

/* THEMES */
.themes-container {
  overflow-y: scroll;
}

.close-themes-container {
  margin-left: 95%;
  max-width: fit-content;

  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 1;
}

.close-themes-container .close-icon {
  width: 20px;
  cursor: pointer;
}

.return-icon-container {
  position: absolute;
  top: 3%;
  left: 20px;
  width: 40px;
  z-index: 1;
}

.return-icon-container svg {
  display: none;
  cursor: pointer;
  fill: #f44336;
  width: 100%;
}

.themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: max-content;
  position: relative;
}

.theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  gap: 20px;

  width: 50%;
  min-height: 250px;
  padding-block: 10px;
  position: relative;
}

.theme .theme-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.theme .theme-image {
  width: 100%;
}

.theme #ben-10 {
  width: 50%;
}

.theme h3 {
  font-size: 22px;
  width: 50%;
}

.play-themeBtn,
.switchButton,
.changeTemplateButton {
  background-image: var(--buttons_background_image_gradient);
  border-radius: 10px;
  border: 1px solid var(--buttons_border_color);
  box-shadow: 0 0 4px var(--buttons_box_shadow_color);
  color: #fff;

  font-size: 15px;
  padding: 8px 10px;

  cursor: pointer;
  transition: 0.3s ease;
}

.play-themeBtn:hover,
.changeTemplateButton:hover {
  transform: scale(1.1);
  background-image: var(--buttons_hover_gradient);
}

.play-themeBtn:active,
.changeTemplateButton:active {
  background-image: var(--buttons_active_gradient);
}

/* Difficulties */
.difficulties-container {
  display: none;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;

  margin-top: 80px;
  width: 100%;
}

.difficulty-level {
  box-shadow: 0px 0px 22px var(--buttons_box_shadow_color);
  border: none;
  background-image: var(--difficulty_level_button_background_image_gradient);
  color: #fff;
  font-size: 25px;

  padding-block: 5px;
  max-width: 300px;
  width: 100%;

  cursor: pointer;
  transition: 0.3s ease;
}

.difficulty-level:hover {
  transform: scale(0.95);
  background-image: var(--difficulty_level_button_hover_gradient);
  color: #fef;
}

.difficulty-level:active {
  background-image: var(--difficulty_level_button_active_gradient);
}

/* RANDOM THEMES */
.random-themes-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.random-themes {
  display: flex;
  justify-content: center;
  gap: 8px;

  width: 100%;
  position: relative;
  overflow: hidden;
}

.random-theme {
  text-align: center;
}

.random-theme img {
  border-radius: 5px;
  width: 240px !important;
}

.random-theme img#ben-10 {
  width: 60% !important;
}

.shuffleAnimationStart {
  animation: shuffleThemeStart 0.5s linear infinite alternate;
}

@keyframes shuffleThemeStart {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* HOME SETTINGS */
.home_settings_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 90vh;
}

.home_settings_container .templates_container,
.home_settings_container .audio-container {
  max-height: 250px;
  height: 100%;
}

.home_settings_container h2 {
  width: 100%;
}

.home_settings_container .templates_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
  max-width: max-content;
}

.home_settings_container .templates_container h3,
.home_settings_container .templates h3 {
  color: var(--home_settings_color);
  font-size: 20px;
}

.home_settings_container .templates_container img,
.home_settings_container .templates img {
  border: 1px solid var(--home_settings_color);
  width: 200px;
}

.templates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 20px;
}

.templates .template {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 280px;
  width: 45%;
}

/* Audio */
.audio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.audio-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: max-content;
}

.audio-content h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.audio-content h3 svg {
  fill: #fff;
  stroke: #000;
  width: 32px;
}

.audio-content .switch-audio-container {
  background-color: var(--switch_sounds_container--inactive_background_color);
  border-radius: 15px;
  box-shadow: 0 0 2px 3px #000000b3;
  height: 35px;
  width: 70px;
  position: relative;
  transition: 0.3s;
}

.audio-content .switch-audio-container .switchButton {
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;

  position: absolute;
  top: -7%;
  right: 45%;
  transition: 0.3s;
}

.audio-content .switch-audio-container .switchButton:hover {
  transform: scale(1.05);
}

.audio-content .switch-audio-container .switchButton:active {
  background-image: var(--switch_sounds_button_active_gradient);
  transform: scale(0.98);
}

.switch-audio-container--active {
  background-color: var(
    --switch_sounds_container--active_background_color
  ) !important;
}

.audio-content div.switch-audio-container button.switchButton.active {
  background-image: var(--switch_sounds_button_background_image_gradient);
  right: -5%;
}

.audio-container input[type='range'] {
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  position: relative;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.audio-container input[type='range']::before,
.audio-container input[type='range']::after {
  color: #fff;
  display: inline-block;
  position: absolute;
}

.audio-container input[type='range']::before {
  content: attr(min);
  left: 0;
  transform: translateX(calc(-100% - 5px));
}

.audio-container input[type='range']::after {
  content: '10';
  right: 0;
  transform: translateX(calc(100% + 5px));
}

.audio-container input[type='range']::-webkit-slider-runnable-track {
  border: none;
  border-radius: 20px;
  height: 16px;
  width: 16px;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #02141a;
  border: 1px solid #505050;
}

.audio-container input[type='range']::-webkit-slider-thumb {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--home_settings_color);
  border-radius: 12px;
  height: calc(100% + 8px);
  width: 3px;
  margin-top: -4px;
}

/* CREDITS */
.credits {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.credits-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.credits-info .credits-image-creator {
  width: 50%;
  text-align: center;
  position: relative;
}

.credits-info .credits-image-creator img {
  background-size: cover;
  box-shadow: 0px 0px 20px #f7ccac;
  border-radius: 50%;

  width: 80%;
  margin-bottom: 15px;
}

.credits-info .credits-image-creator img#creator-background-image {
  position: absolute;
  height: 86.4%;
  z-index: -1;
}

.credits-info .social {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.credits-info .social h3 {
  line-height: 30px;
}

.credits-info .social > div {
  display: flex;
  align-items: center;
  gap: 5px;

  max-width: 200px;
  width: 100%;
  padding-inline: 5px;
}

.credits-info .social > div > svg {
  width: 15%;
  fill: #fff;
}

.credits-info .social .social-links {
  color: #fff;
  font-size: 16px;
  max-width: max-content;
}

.social-links:hover {
  text-decoration: underline;
}

/* DECK */
.deck-container {
  background: #daeff5 url('') no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.deck-container::-webkit-scrollbar {
  width: 12px;
}

.deck-container::-webkit-scrollbar-track {
  background: #292929;
}

.deck-container::-webkit-scrollbar-thumb {
  background-color: var(--home_settings_color);
  border-radius: 20px;
  border: 2px solid #0e0e0e;
}

.ingame-settings {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
}

.ingame-settings.menu {
  height: 85%;
}

.ingame-settings.show {
  transform: translate(-50%, 10%) !important;
}

.ingame-settings .music-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.music-container .music-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.music-container .music-options .music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.music-options .music .playMusic {
  border-radius: 10px;
  border: 1px solid var(--buttons_border_color);
  box-shadow: 0px 0px 4px var(--buttons_box_shadow_color);
  background-image: var(--buttons_background_image_gradient);
  color: #fff;

  font-size: 20px;
  padding: 8px 10px;
  width: 35%;

  cursor: pointer;
  transition: 0.3s ease;
}

.playMusic:hover {
  background-image: var(--buttons_hover_gradient);
  transform: scale(1.1);
}

.playMusic:active {
  background-image: var(--buttons_active_gradient) !important;
}

section.deck-container div.memory-deck {
  display: grid;
  justify-content: center;
  gap: 10px;

  width: 100%;
  margin-inline: auto;

  perspective: 1000px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow-x: hidden;
  overflow-y: auto;
}

.memory-deck::-webkit-scrollbar {
  width: 12px;
}

.memory-deck::-webkit-scrollbar-track {
  background: #292929;
}

.memory-deck::-webkit-scrollbar-thumb {
  background-color: var(--home_settings_color);
  border-radius: 20px;
  border: 2px solid #0e0e0e;
}

.memory-card {
  border: 1px solid #00000033;
  border-radius: 5px;

  width: 90px;
  height: 115px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

/* Flip Transition */
.memory-card.flip {
  transform: rotateY(180deg);
}

/* Images Settings */
.front-face,
.back-face {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  padding: 20px;

  position: absolute;
}

.front-face {
  height: 80%;
}

.back-face {
  transform: rotateY(180deg);
}

.back-face[alt='Bulma'] {
  height: calc(100% + 50px);
  width: calc(100% - 20px);
}

@media (max-width: 580px) {
  #click_on_window_message h2 {
    font-size: 8vw;
  }

  .clickGif {
    width: 60%;
  }

  #loader-container {
    padding-top: 0;
    justify-content: center;
  }

  #loader-container h2 {
    font-size: 200%;
    max-width: 240px;
  }

  #loader {
    width: 120px;
    height: 120px;
  }

  .top_bar_container .top_bar_left_content {
    flex-wrap: wrap;
  }

  .top_bar_container .top_bar_left_content h3 {
    padding-block: 0;
  }

  .themes {
    flex-direction: column;
  }

  #themes-title {
    max-width: 160px;
    margin: 0 auto;
  }

  .theme .theme-image-container {
    width: 100%;
  }

  .theme {
    height: 270px;
  }

  .theme h3 {
    width: 100%;
  }

  .templates {
    gap: 25px;
  }

  .credits-info .credits-image-creator {
    width: 100%;
  }

  .credits-info .credits-image-creator img {
    width: 42%;
  }

  .credits-info .credits-image-creator img#creator-background-image {
    height: 85%;
  }

  .deck-container {
    overflow-y: hidden;
  }

  .music-options .music .playMusic {
    width: 75%;
  }

  .home_settings_container .templates_container {
    max-width: 100%;
    width: 100%;
  }

  .home_settings_container .templates .template {
    width: 100%;
  }

  .audio-container {
    gap: 20px;
    width: 100%;
    height: max-content !important;
  }

  .audio-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .ingame-settings.menu {
    height: 85%;
  }

  .memory-deck {
    grid-template-columns: repeat(3, auto) !important;
    height: 80vh !important;
    width: max-content;

    margin: 0 auto;
    padding-bottom: 10px;

    transform: translate(-50%, 0%);
  }
}

@media (max-width: 540px) {
  .credits-info .credits-image-creator img#creator-background-image {
    height: 83%;
  }
}

@media (max-width: 480px) {
  .theme {
    height: 240px;
  }

  .credits-info .credits-image-creator img#creator-background-image {
    height: 80%;
  }
}

@media (max-width: 380px) {
  .credits-info .credits-image-creator img#creator-background-image {
    height: 75%;
  }
}

@media (max-width: 305px) {
  .memory-card {
    width: 80px;
    height: 110px;
  }
}

@media (orientation: landscape) and (max-height: 600px) and (max-width: 800px) {
  .ingame-settings #ingame-settings-title {
    margin: 0 auto;
    font-size: 4vw;
  }

  .ingame-settings .music-container {
    flex-direction: row;
    width: 90%;
  }

  .ingame-settings .music-options .music .playMusic {
    padding-block: 4px;
    width: 70%;
  }

  .ingame-settings .audio-content {
    position: relative;
    width: 100%;
    justify-content: flex-start;
  }

  .audio-container h3 {
    gap: 10px;
  }

  .memory-deck {
    grid-template-columns: repeat(3, auto) !important;
    height: 80vh !important;
    width: max-content;

    margin: 0 auto;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    top: 60% !important;
    transform: translate(-50%, 0%);
  }
}

@media (orientation: landscape) and (min-width: 420px) and (max-width: 920px) {
  .memory-deck {
    grid-template-columns: repeat(4, auto) !important;
    top: 15%;
  }
}

@media (orientation: landscape) and (min-width: 650px) {
  .memory-deck {
    grid-template-columns: repeat(6, auto) !important;
  }
}

@media (orientation: landscape) and (max-height: 300px) {
  section.deck-container div.memory-deck {
    top: 65% !important;
    padding-bottom: 20px;
  }
}

@media (orientation: portrait) and (max-width: 510px) {
  section.deck-container div.memory-deck {
    top: 54% !important;
  }
}

@media (min-width: 550px) and (max-width: 1000px) and (max-height: 500px) {
  .ingame-settings {
    gap: 0;
    justify-content: center;
  }

  .audio-content .switch-audio-container {
    width: 60px;
    position: fixed;
    right: 20%;
  }
}

@media (max-width: 300px) {
  .top_bar_container .top_bar_left_content * {
    font-size: 15px;
  }

  .top_bar_container .top_bar_left_content .heart {
    font-size: 15px !important;
  }
}
