.avatar {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 78px;
  justify-content: center;
  margin-right: 5px;
  width: 78px;
}

.avatar:hover {
  opacity: 0.9;
}
