.circle-return-icon {
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  fill: #fff;
  height: 20px;
  left: 0;
  padding: 1px;
  padding-right: 2px;
  position: absolute;
  top: 0;
  width: 20px;
  z-index: 1;
}

@media (min-width: 1367px) {
  .circle-return-icon {
    border-width: 4px;
    height: 40px;
    width: 40px;
  }
}