.credits__info__creator-image-container img {
  background: #000 url('../../../images/social/background.jpg') center no-repeat
    fixed;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #f7ccac;
  margin-bottom: 15px;
  max-width: 280px;
  width: 100%;
}

@media (max-height: 450px), (max-width: 580px) {
  .credits__info__creator-image-container img {
    max-width: 140px;
  }
}
