.credits__info .credits__info__creatorImageContainer {
  width: 50%;
  text-align: center;
  position: relative;
}

@media (max-width: 580px) {
  .credits__info .credits__info__creatorImageContainer {
    width: 100%;
  }
}
