.credits__info__creator-image-container img {
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #f7ccac;
  margin-bottom: 15px;
  width: 80%;
}

.credits__info__creator-image-container
  img#credits__info__creator-background-image {
  height: 86.4%;
  position: absolute;
  z-index: -1;
}

@media (max-width: 580px) {
  .credits__info__creator-image-container img {
    width: 42%;
  }

  .credits__info__creator-image-container
    img#credits__info__creator-background-image {
    height: 85%;
  }
}

@media (max-width: 540px) {
  .credits__info__creator-image-container
    img#credits__info__creator-background-image {
    height: 81%;
  }
}

@media (max-width: 480px) {
  .credits__info__creator-image-container
    img#credits__info__creator-background-image {
    height: 80%;
  }
}

@media (max-width: 400px) {
  .credits__info__creator-image-container
    img#credits__info__creator-background-image {
    height: 76%;
  }
}

@media (max-width: 380px) {
  .credits__info__creator-image-container
    img#credits__info__creator-background-image {
    height: 75%;
  }
}
