.edit-profile-menu > div > h3 {
  margin: 0 auto;
  max-width: 280px;
}

.edit-profile-menu > div h3 {
  font-weight: normal;
}

@media (min-width: 1367px) {
  .edit-profile-menu > div > h3 {
    font-size: 35px;
    max-width: 320px;
  }
}

@media (max-width: 580px) {
  .edit-profile-menu > div > h3 {
    max-width: 180px;
    width: 100%;
  }
}

@media (max-width: 280px) {
  .edit-profile-menu > div > h3 {
    max-width: 130px;
  }
}
