.terminal h2 {
  padding-bottom: 15px;
}

.terminal input::placeholder {
  color: #fff;
}

@media (min-width: 1367px) {
  .terminal h4,
  .terminal p,
  .terminal li,
  .user-input-container,
  .terminal input[type='text'] {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .terminal h2 {
    margin: 0 auto;
    max-width: 130px;
  }
}
