.open-profile-menu {
  align-items: center;
  background-color: #353535;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding: 5px 10px;
  position: relative;
  width: 30%;
}

.open-profile-menu:hover {
  background-color: #323232;
}

.open-profile-menu:active {
  background-color: #383838;
  opacity: 0.9;
}

.open-profile-menu .experience-bar {
  margin-bottom: 15px;
}

.open-profile-menu .exp-progress {
  left: 26.5%;
  max-width: 130px;
}

@media (max-width: 790px) {
  .open-profile-menu .exp-progress {
    left: 28%;
    max-width: 120px;
  }
}

@media (max-width: 750px) {
  .open-profile-menu .exp-progress {
    left: 29.5%;
    max-width: 100px;
  }
}

@media (max-width: 700px) {
  .open-profile-menu .exp-progress {
    left: 33%;
    max-width: 90px;
  }
}

@media (max-width: 580px) {
  .open-profile-menu {
    margin-bottom: 20px;
    max-width: 210px;
    width: 100%;
  }

  .open-profile-menu .exp-progress {
    left: 29%;
    max-width: 110px;
  }
}
