body {
  background: #cdfffe var(--body_background_image) center no-repeat fixed;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #292929;
}

body::-webkit-scrollbar-thumb {
  background-color: #313f3f;
  border: 2px solid #0e0e0e;
  border-radius: 20px;
}

@keyframes confirmPopupMovement {
  from {
    transform: scale(1.2);
  }
  to {
    box-shadow: 0 0 20px #faf7f7fa;
    transform: scale(1.25);
  }
}

.confirm-action-popup {
  align-items: center;
  background-color: #000000d2;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  pointer-events: all;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: transform 0.3s ease;
  width: 100vw;
  z-index: 100;
}

.confirm-action-popup.confirm-popup {
  transform: scale(1);
}

.confirm-action-popup__container {
  align-items: center;
  background-color: var(--confirm-popup-container-background-color);
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 6px #ccccccc0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  min-height: 200px;
  padding-block: 20px;
  width: max-content;
}

.confirm-action-popup.confirm-popup .confirm-action-popup__container {
  animation: confirmPopupMovement 2s infinite alternate;
}

#confirm-action-popup__title {
  background-color: var(--confirm-popup-title-background-color);
  border-block: 1px solid #000;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  padding: 5px 10px;
  width: 100%;
}

.confirm-action-popup__confirm-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-inline: 20px;
}

.confirm-buttons__confirm-button {
  background-image: var(--buttons_background_image_gradient);
  border: 1px solid var(--buttons_border_color);
  border-radius: 10px;
  box-shadow: 0px 0px 4px var(--buttons_box_shadow_color);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.3s ease;
}

.confirm-buttons__confirm-button:hover {
  background-image: var(--buttons_hover_gradient);
  transform: scale(1.1);
}

.confirm-buttons__confirm-button:active {
  background-image: var(--buttons_active_gradient) !important;
}

/* Rainbow Template Animation */
body.rainbow_template .game-menu__template-animation {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-height: 110px;
  pointer-events: none;
  user-select: none;
  width: 100%;
}

.rainbow-template__unicorn {
  position: relative;
  top: 60px;
  width: 100px;
  z-index: 1;
}

#left-corner-unicorn.left-unicorn-comes {
  left: 0;
  transform: rotate(0deg);
}

#right-corner-unicorn.right-unicorn-comes {
  right: 0;
  transform: rotateY(180deg) rotate(0deg);
}

#left-corner-unicorn {
  left: -50%;
  transform: rotate(-30deg);
  transition: left 0.7s ease, transform 0.5s 0.4s ease;
}

#right-corner-unicorn {
  right: -50%;
  transform: rotateY(180deg) rotate(-30deg);
  transition: right 0.7s ease, transform 0.5s 0.4s ease;
}

@keyframes largerScreenVomitRainbow {
  from {
    width: 0%;
  }
  to {
    width: calc(100vw - 120px);
  }
}

@keyframes largerScreenUnvomitRainbow {
  from {
    width: calc(100vw - 120px);
    /* width: 83.5%; */
  }
  to {
    width: 0%;
  }
}

@keyframes mobileScreenVomitRainbow {
  from {
    width: 0%;
  }
  to {
    width: calc(100vw - 92px);
  }
}

@keyframes mobileScreenUnvomitRainbow {
  from {
    width: calc(100vw - 92px);
  }
  to {
    width: 0%;
  }
}

.larger-screen-rainbow--start-animation {
  animation: largerScreenVomitRainbow 4s linear forwards;
  left: 60px;
}

.larger-screen-rainbow--end-animation {
  animation: largerScreenUnvomitRainbow 4s linear;
  right: 60px;
}

.mobile-rainbow--start-animation {
  animation: mobileScreenVomitRainbow 4s linear forwards;
  left: 44px;
}

.mobile-rainbow--end-animation {
  animation: mobileScreenUnvomitRainbow 4s linear;
  right: 44px;
}

.rainbow {
  background-image: linear-gradient(
    #ff0000,
    #ffa500,
    #ffff00,
    #008000,
    #0000ff 90%,
    #4b0082,
    #ee82ee
  );
  border-radius: 2px 0 0 2px;
  height: 17px;
  position: absolute;
  top: 108px;
  z-index: 1;
}

.disabled-button-message-box {
  background-color: #151515;
  border-radius: 4px;
  left: 0;
  max-width: 250px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  transform: scale(0);
  transition: transform 0.1s ease-in-out;
}

.message-box--popup {
  transform: scale(1);
}

.disabled-button-message-box h2 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

.disabled-button-message-box p {
  color: #efefef;
  font-size: 16px;
  font-weight: normal;
}

@media (min-width: 1367px) {
  .confirm-action-popup__container {
    min-height: 250px;
  }

  #confirm-action-popup__title {
    font-size: 50px;
  }

  .confirm-buttons__confirm-button {
    font-size: 30px;
  }
}

@media (max-width: 580px) {
  .rainbow-template__unicorn {
    width: 70px;
  }
}

@media (max-height: 375px) {
  .rainbow-template__unicorn {
    top: -69px;
  }

  .rainbow {
    top: -20px;
  }
}
