h1,
h2,
h3 {
  text-align: center;
}

h2,
h3 {
  color: #fff;
}

h2 {
  font-size: 30px;
  letter-spacing: 0.5px;
}

/* Avatars */
.avatars-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
  max-height: 170px;
  overflow-x: hidden;
  overflow-y: auto;
}

.avatars-container::-webkit-scrollbar {
  width: 12px;
}

.avatars-container::-webkit-scrollbar-track {
  background: #3e3f3f;
  border-radius: 15px;
}

.avatars-container::-webkit-scrollbar-thumb {
  background-color: #a8a8a5;
  border: 2px solid #3b3737;
  border-radius: 15px;
}

/* Avatar - Theme Section */
.avatars-container__avatar-theme {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.avatars-container__avatar-theme h4 {
  color: #fff;
  font: normal normal 16px Arial, Helvetica, sans-serif;
  text-align: left;
}

.avatars {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}

.avatars::-webkit-scrollbar {
  height: 10px;
  width: 12px;
}

.avatars::-webkit-scrollbar-track {
  background: #3e3f3f;
  border-radius: 15px;
}

.avatars::-webkit-scrollbar-thumb {
  background-color: #a8a8a5;
  border: 1px solid #6d6363;
  border-radius: 15px;
}

.avatar {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 78px;
  justify-content: center;
  margin-right: 5px;
  width: 78px;
}

.avatar:hover {
  opacity: 0.9;
}

.avatar__img {
  border-radius: 3px;
  height: 100%;
  width: 100%;
}
