.play-theme-btn {
  background-image: var(--buttons_background_image_gradient);
  border: 1px solid var(--buttons_border_color);
  border-radius: 10px;
  box-shadow: 0 0 4px var(--buttons_box_shadow_color);
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  min-width: 80px;
  padding: 8px 10px;
  transition: 0.3s ease;
}

.play-theme-btn:hover {
  background-image: var(--buttons_hover_gradient);
  transform: scale(1.1);
}

.play-theme-btn:active {
  background-image: var(--buttons_active_gradient);
}

@media (min-width: 1367px) {
  .play-theme-btn {
    font-size: 30px;
    padding: 12px 22px;
  }
}
