#save-profile-picture-button,
#cancel-image-preview {
  background-color: #2e2e2e;
  border: 1px solid #353535;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  margin-inline: auto;
  /* margin-top: 10px; */
  max-width: 200px;
  padding: 10px;
  width: 100%;
}

#save-profile-picture-button:hover,
#cancel-image-preview:hover {
  background-color: #454545;
}

#save-profile-picture-button:active,
#cancel-image-preview:active {
  background-color: #191919;
}
