.game-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: flex-start;
  left: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 10px;
  position: absolute;
  transform: translateX(-50%);
  user-select: none;
  width: 100%;
}

.game-info {
  align-items: flex-end;
  bottom: 0;
  color: #fff;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: space-between;
  padding: 4px;
  position: absolute;
  text-shadow: 1px 1px 1px #000;
  width: 100%;
}

@media (min-width: 1367px) {
  .game-info {
    font-size: 35px;
  }
}

@media (max-height: 375px) {
  .game-menu {
    justify-content: center;
    padding-block: 10px;
  }
}
