@font-face {
  font-family: 'Morning Rainbow';
  font-display: swap;
  src: url(../fonts/rainbow_template/MorningRainbow.ttf);
}

body.rainbow_template {
  font-family: 'Morning Rainbow';
}

.rainbow_template {
  --window_message_text_color: #ff299e;
  --window_message_text_shadow: 0 0 15px #970556;
  --loader_box_shadow: 0px 5px 5px #ff299e;

  /* DEFAULT BACKGROUND IMAGE */
  --body_background_image: url('../images/templates/rainbow_template/rainbow_background.jpg');

  --main_title_gradient: linear-gradient(to bottom, #ffbfe2, #ff299e);

  --top_bar_container_background_image_gradient: linear-gradient(
    #f838f8,
    #db5c9b
  );
  --top_bar_container_svg_color: #ff92e4;

  --settings_background_image_gradient: linear-gradient(
    70deg,
    #fddcee,
    #f5619e
  );
  --settings_box_shadow_color: #ff008cb3;
  --setting_option_background_image_gradient: linear-gradient(
    #ff73e1 20%,
    #ffb3cc
  );

  --setting_option_border_color: #ff299e99;
  --setting_option_box_shadow_color: #a1308fb3;
  /* --setting_option_text_color: #ffaad9; */
  --setting_option_text_color: #fff;
  --setting_option_hover_gradient: linear-gradient(#eb3663, #ff74a2);
  --setting_option_active_gradient: linear-gradient(#df2f63, #fd4573);
  --scrollbar_thumb_background_color: #d40c98e8;

  /* BUTTONS */
  --buttons_background_image_gradient: linear-gradient(#d40c98e8, #861269);
  --buttons_border_color: #d40c98e8;
  --buttons_box_shadow_color: #d40c98e8;
  --buttons_hover_gradient: linear-gradient(#861269, #d40c98e8);
  --buttons_active_gradient: linear-gradient(#ac0249, #861269);

  --home_settings_color: #ff50d3;

  --switch_sounds_container--inactive_background_color: #a32765;
  --switch_sounds_container--active_background_color: #ff60aa;
  --switch_sounds_button_background_image_gradient: linear-gradient(
    #fc3f97 5%,
    #c005b7e8
  );
  /* when sound is off:
  linear-gradient(#ac0249 5%, #861269);
  */
  --switch_sounds_button_active_gradient: linear-gradient(#fa0075, #861269);

  --difficulty_level_button_background_image_gradient: linear-gradient(
    #ff6eab,
    #b80357
  );
  --difficulty_level_button_box_shadow_color: #fa0075;
  --difficulty_level_button_hover_gradient: linear-gradient(#f7438e, #b4507f);
  --difficulty_level_button_active_gradient: linear-gradient(#ff6ec3, #e72abe);
}
