#click-on-window-message-container {
  align-items: center;
  background-color: #181d20fb;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  left: 0;
  padding-top: 10%;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

#click-on-window-message-container h2 {
  animation: moveLoadingTitle 0.8s alternate infinite;
  color: var(--window_message_text_color);
  font-size: 50px;
  max-width: 70%;
  text-shadow: var(--window_message_text_shadow);
}

@media (max-width: 580px) {
  #click-on-window-message-container h2 {
    font-size: 8vw;
  }
}
