/* GENERAL SETTINGS */
@charset "UTF-8";

@font-face {
  font-family: 'Dragon Ball';
  src: url('../fonts/dragon-ball/Saiyan-Sans_Right_Oblique.ttf')
    format('truetype');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  list-style-position: inside;
}

body {
  background: #cdfffe url('../images/home-background.jpg') center no-repeat
    fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

h2 {
  letter-spacing: 0.5px;
  font-size: 30px;
}

h2,
h3 {
  color: #fff;
  text-align: center;
}

#loader-container {
  background-color: #181d20fb;

  width: 100vw;
  height: 100vh;

  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  border-radius: 50%;
  box-shadow: 0px 5px 5px rgb(1, 217, 255);

  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.show {
  transform: translate(-50%, 15%) scale(1) !important;
  transition: transform 0.4s ease;
}

.menu {
  background-color: rgba(17, 17, 17, 0.9);
  border-radius: 10px;

  display: block;
  max-width: 700px;
  width: 100%;
  height: 470px;
  padding: 20px 20px;

  position: absolute;
  left: 50vw;
  z-index: 1000;
  user-select: none;
  transform: translate(-50%, 20%) scale(0);
}

/* GAME MENU */
.game-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;

  height: 100vh;
  width: 100%;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.game-menu h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 1px 10px rgb(1, 217, 255);
  margin: 0 auto;
}

/* GAME SETTINGS OPTIONS */
.settings {
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(89, 230, 255, 0.7);
  background-image: linear-gradient(to bottom, #2f4246, #181d20);

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding-block: 10px;
  max-height: 300px;
  height: 100%;
  max-width: 400px;
  width: 100%;
}

.setting-option {
  border: 1px solid rgba(89, 230, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(89, 230, 255, 0.7);
  background-image: linear-gradient(#091114e8, #060c0e);
  color: #fff;

  font-size: 20px;

  width: 95%;
  padding-block: 8px;
  cursor: pointer;
}

.setting-option:hover {
  background-image: linear-gradient(#14899b, #16a4a8);
}

.setting-option:active {
  background-image: linear-gradient(#2dcadf, #04a0c7);
}

/* THEMES SCROLL */
.themes-container::-webkit-scrollbar {
  width: 12px;
}

.themes-container::-webkit-scrollbar-track {
  background: #292929;
}

.themes-container::-webkit-scrollbar-thumb {
  background-color: #10bb9f;
  border-radius: 20px;
  border: 2px solid #0e0e0e;
}

/* THEMES */
.themes-container {
  overflow-y: scroll;
}

.close-themes-container {
  position: absolute;
  top: 5%; /* 5% == 24px */
  right: 4%;
  z-index: 10000;
}

.close-themes-container .close-icon {
  width: 20px;
  cursor: pointer;
}

.return-themes-container {
  position: absolute;
  top: 3%;
  left: 20px;
  z-index: 10000;
}

.return-themes-container svg {
  display: none;
  cursor: pointer;
  fill: #f44336;
}

.themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: max-content;
  position: relative;
}

.theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  gap: 20px;

  width: 50%;
  height: 230px;
  padding-block: 10px;
  position: relative;
}

.theme .theme-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.theme .theme-image {
  width: 100%;
}

.theme #ben-10 {
  width: 50%;
}

.theme h3 {
  width: 50%;
  font-size: 22px;
}

.play-themeBtn,
.switchButton {
  border: 1px solid rgba(89, 230, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(89, 230, 255, 0.7);
  background-image: linear-gradient(#016f97e8, #10bb9f);
  color: #fff;

  font-size: 15px;
  padding: 8px 10px;

  cursor: pointer;
  transition: 0.3s ease;
}

.play-themeBtn:hover {
  transform: scale(1.1);
  background-image: linear-gradient(#243469e8, #1093bb);
}

.play-themeBtn:active {
  background-image: linear-gradient(#1a7fd1e8, #048cb6);
}

/* Difficulties */
.difficulties-container {
  display: none;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;

  margin-top: 80px;
  width: 100%;
}

.difficulty-level {
  box-shadow: 0px 0px 22px #048cb6;
  border: none;
  background-image: linear-gradient(#20bf55, #01baef);
  color: #fff;
  font-size: 25px;

  padding-block: 5px;
  max-width: 300px;
  width: 100%;

  cursor: pointer;
  transition: 0.3s ease;
}

.difficulty-level:hover {
  transform: scale(0.95);
  background-image: linear-gradient(#1aa548, #048db3);
  color: #fef;
}

.difficulty-level:active {
  background-image: linear-gradient(#20bf55c5, #00a1ce);
}

/* RANDOM THEMES */
.random-themes-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.random-themes {
  display: flex;
  justify-content: center;
  gap: 8px;

  width: 100%;
  position: relative;
  overflow: hidden;
}

.random-theme {
  text-align: center;
}

.random-theme img {
  border-radius: 5px;
  width: 240px !important;
}

.random-theme img#ben-10 {
  width: 60% !important;
}

.shuffleAnimationStart {
  animation: shuffleThemeStart 0.5s linear infinite alternate;
}

@keyframes shuffleThemeStart {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* SETTINGS */
/* Audio */
.audio-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  width: 100%;
}

.audio-content {
  display: flex;
  justify-content: center;
  gap: 20px;

  width: 50%;
}

.audio-content h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.audio-content h3 svg {
  fill: #fff;
  stroke: #000;
}

.audio-content .switch-audio-container {
  background-color: #10bb9f;
  border-radius: 15px;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.7);
  height: 35px;
  width: 70px;
  position: relative;
  transition: 0.3s;
}

.audio-content .switch-audio-container .switchButton {
  background-image: linear-gradient(#01baef 5%, #10bb9f);
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;

  position: absolute;
  top: -7%;
  right: 45%;
  transition: 0.3s;
}

.audio-content .switch-audio-container .switchButton:hover {
  transform: scale(1.05);
}

.audio-content .switch-audio-container .switchButton:active {
  background-image: linear-gradient(#048cb6 5%, #10bb9f);
  transform: scale(0.98);
}

.audio-content div.switch-audio-container button.switchButton.active {
  right: -5%;
}

.ingame-settings {
  position: relative;
}

/* CREDITS */
.credits {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 500px;
  overflow: hidden;
}

.credits-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.credits-info .credits-image-creator {
  width: 50%;
  text-align: center;
}

.credits-info .credits-image-creator img {
  background: #04a0c7 url('../images/social/background.jpg') center no-repeat
    fixed;
  background-size: cover;
  box-shadow: 0px 0px 20px #f7ccac;
  border-radius: 50%;

  width: 80%;
  margin-bottom: 15px;
}

.credits-info .social {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.credits-info .social h3 {
  line-height: 30px;
}

.credits-info .social > div {
  display: flex;
  align-items: center;
  gap: 5px;

  max-width: 200px;
  width: 100%;
  padding-inline: 5px;
}

.credits-info .social > div > svg {
  width: 15%;
  fill: #fff;
}

.credits-info .social .social-links {
  color: #fff;
  font-size: 16px;
  max-width: max-content;
}

.social-links:hover {
  text-decoration: underline;
}

/* BASE DECK */
.deck-container {
  background: #00a1ce url('') no-repeat center fixed;
  background-size: cover;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.deck-container .show {
  transform: translate(-50%, 0%) scale(1) !important;
}

.ingame-settings {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 100px;
}

.ingame-settings .music-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.music-container .music-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.music-container .music-options .music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.music-options .music .playMusic {
  border: 1px solid rgba(89, 230, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(89, 230, 255, 0.7);
  background-image: linear-gradient(#016f97e8, #10bb9f);
  color: #fff;

  font-size: 20px;
  padding: 8px 10px;
  width: 30%;

  cursor: pointer;
  transition: 0.3s ease;
}

.playMusic:hover {
  transform: scale(1.1);
  background-image: linear-gradient(#243469e8, #1093bb);
}

.playMusic:active {
  background-image: linear-gradient(#1a7fd1e8, #048cb6) !important;
}

.memory-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 10px;

  /* Old style:
    max-width: 650px;
    width: 100%;
    height: 640px;
  */
  width: 100%;
  height: 640px;
  margin-inline: auto;
  padding-block: 10px;
  perspective: 1000px;
  position: absolute;
  top: 10%;
}

#score {
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 1%;
}

#score h3 {
  border-radius: 5px;
  background-image: linear-gradient(#fbab7e, #f7ce68);
  color: #000;

  padding: 5px 10px;
}

.memory-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  /* Old style:
    max-width: 150px;
    width: 100%;
    height: calc(33.333% - 10px);
  */
  max-width: 120px;
  width: 100%;
  height: calc(27% - 10px);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

/* Flip Transition */
.memory-card.flip {
  transform: rotateY(180deg);
}

/* Images Settings */
.front-face,
.back-face {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  padding: 20px;

  position: absolute;
}

.front-face {
  height: 80%;
}

.back-face {
  transform: rotateY(180deg);
}

.back-face[alt='Bulma'] {
  height: calc(100% + 50px);
  width: calc(100% - 20px);
}

/* DBZ FONT STYLE 

.start-game h1 {
  font-family: 'Dragon Ball';
  font-size: 60px;
  text-shadow: -4px 1px 0px #000;
  text-align: center;

  max-width: 300px;
  padding-block: 20px;
  margin-inline: auto;
}

.start-game #dragon {
  color: rgb(255, 208, 0);
}

.start-game #ball {
  color: rgb(214, 0, 0);
}
*/

@media (max-width: 580px) {
  .show {
    transform: translate(-50%, 10%) scale(1) !important;
  }

  .themes {
    flex-direction: column;
  }

  #themes-title {
    max-width: 160px;
    margin: 0 auto;
  }

  .theme .theme-image-container {
    width: 100%;
  }

  .theme {
    height: 240px;
  }

  .theme h3 {
    width: 100%;
  }

  .credits-info .credits-image-creator {
    width: 100%;
  }

  .credits-info .credits-image-creator img {
    width: 42%;
  }
  
  .music-options .music .playMusic {
    width: 75%;
  }

  .ingame-settings {
    gap: 50px;
  }

  .audio-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .deck-container {
  }

  .memory-deck {
    min-height: fit-content !important;
    margin: 0 auto;
    padding-block: 10px;
    overflow-y: auto;
  }

  #score {
    top: 2%;
    left: 2%;
  }

  .memory-card {
    max-width: 80px;
    width: 100%;
    height: 120px;
  }
}
