@charset "UTF-8";

@font-face {
  font-family: 'Dragon Ball';
  src: url('../fonts/dragon-ball/Saiyan-Sans_Right_Oblique.ttf')
    format('truetype');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  list-style-position: inside;
}

body {
  background: #efcb00ad url('../images/home-background.jpg') center no-repeat
    fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.game-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;

  height: 100vh;
  width: 100%;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.game-menu h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 1px 10px rgb(1, 217, 255);
  margin: 0 auto;
}

.settings {
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(89, 230, 255, 0.7);
  background-image: linear-gradient(to bottom, #2f4246, #181d20);

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding-block: 10px;
  max-height: 300px;
  height: 100%;
  max-width: 400px;
  width: 100%;
}

.setting-option {
  border: 1px solid rgba(89, 230, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(89, 230, 255, 0.7);
  background-image: linear-gradient(#091114e8, #060c0e);
  color: #fff;

  font-size: 20px;

  width: 95%;
  padding-block: 8px;
  cursor: pointer;
}

.setting-option:hover {
  background-image: linear-gradient(#14899b, #16a4a8);
}

.setting-option:active {
  background-image: linear-gradient(#2dcadf, #04a0c7);
}

/* Themes */

.themes-container {
  background-color: rgba(17, 17, 17, 0.9);
  border-radius: 10px;

  display: block;
  max-width: 700px;
  width: 100%;
  height: 470px;
  padding: 20px 20px;

  position: absolute;
  left: 50vw;
  transform: translate(-50%, 20%);
  z-index: 1000;
  overflow-y: scroll;
  user-select: none;
}

.themes-container h2 {
  letter-spacing: 0.5px;
  font-size: 30px;
}

.themes-container h2,
.themes-container h3 {
  color: #fff;
  text-align: center;
}

.themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: max-content;
  position: relative;
}

.theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  gap: 20px;

  width: 50%;
  height: 220px;
  padding-block: 8px;
  position: relative;
}

.theme .theme-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.theme .theme-image {
  width: 100%;
}

.theme #ben-10 {
  width: 50%;
}

.theme h3 {
  width: 50%;
  font-size: 22px;
}

.theme .play-themeBtn {
  border: 1px solid rgba(89, 230, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(89, 230, 255, 0.7);
  background-image: linear-gradient(#016f97e8, #10bb9f);
  color: #fff;

  font-size: 15px;
  padding: 8px 10px;

  cursor: pointer;
  transition: .3s ease;
}

.theme .play-themeBtn:hover {
  transform: scale(1.1);
  background-image: linear-gradient(#243469e8, #1093bb);
}

.memory-deck {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 10px;

  max-width: 640px;
  width: 100%;
  height: 640px;
  margin: 0 auto;
  padding-block: 10px;
  position: relative;
  perspective: 1000px;
}

.memory-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #efcc00;

  width: 150px;
  height: calc(33.333% - 10px);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

/* Flip Transition */
.memory-card.flip {
  transform: rotateY(180deg);
}

/* Images Settings */
.front-face,
.back-face {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  padding: 20px;

  position: absolute;
}

.front-face {
  height: 80%;
}

.back-face {
  transform: rotateY(180deg);
}

.back-face[alt='Bulma'] {
  height: calc(100% + 50px);
  width: calc(100% - 20px);
}

/* DBZ FONT STYLE 

.start-game h1 {
  font-family: 'Dragon Ball';
  font-size: 60px;
  text-shadow: -4px 1px 0px #000;
  text-align: center;

  max-width: 300px;
  padding-block: 20px;
  margin-inline: auto;
}

.start-game #dragon {
  color: rgb(255, 208, 0);
}

.start-game #ball {
  color: rgb(214, 0, 0);
}
*/
