.experience-bar {
  background-color: #555;
  border: 2px solid var(--switch_sounds_container--active_background_color);
  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  max-width: 250px;
  padding: 14px 5px;
  position: relative;
  width: 100%;
}
