.experience-bar > p {
  background-color: var(--window_message_text_color);
  border: 2px solid var(--switch_sounds_container--active_background_color);
  border-radius: 0 0 15px 15px;
  color: #e8ffe6;
  padding: 5px;
  position: absolute;
  right: 4%;
  text-transform: uppercase;
  top: 100%;
}

.experience-bar > p,
.experience-bar > p span {
  font: normal normal 12px Arial, Helvetica, sans-serif;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

@media (min-width: 1367px) {
  .experience-bar > p {
    padding-inline: 10px;
  }

  .experience-bar > p, .experience-bar > p span {
    font-size: 22px;
  }
}