.achievement__achievement-xp {
  align-items: center;
  background-image: var(--top_bar_container_background_image_gradient);
  border-radius: 50%;
  color: #fffcfc;
  display: flex;
  font-size: 11px;
  height: 40px;
  justify-content: center;
  margin-right: 5px;
  padding: 15px;
  text-shadow: 0 0 3px #000000f3;
  width: 40px;
}

body.forest_template .achievement__achievement-xp {
  /* padding: 12px 6px; */
}
