.achievement__progress-bar {
  background-color: #1f1f1f;
  border: 2px solid #463939;
  margin-top: 6px;
  position: relative;
  width: 100%;
}

.progress-bar__current-progress {
  background-color: var(--switch_sounds_container--active_background_color);
  height: 100%;
  position: absolute;
  transition: 0.5s ease-out;
}

.achievement__progress-bar p {
  color: #e5e5e5;
  position: relative;
  text-align: center;
  text-shadow: 1px 0 0 #000000da;
}
