@keyframes moveLoadingTitle {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.98);
  }
}

#loader-container__loader-title {
  animation: moveLoadingTitle 1.5s alternate infinite;
  color: var(--window_message_text_color);
  font-size: 50px;
  text-shadow: var(--window_message_text_shadow);
}

@media (max-height: 640px), (max-width: 580px) {
  #loader-container__loader-title {
    font-size: 30px;
  }
}

@media (max-width: 300px) {
  #loader-container__loader-title {
    max-width: 150px;
  }
}