@keyframes moveLoadingTitle {
  0% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(3%);
  }
}

#loader-container__loader-title {
  color: var(--window_message_text_color);
  text-shadow: var(--window_message_text_shadow);
  font-size: 50px;
  animation: moveLoadingTitle 0.8s alternate infinite;
}

@media (max-width: 580px) {
  #loader-container__loader-title {
    font-size: 200%;
    max-width: 240px;
  }
}
