.online {
  color: #4bff63;
}

.success {
  color: #080;
}

.error {
  color: #d00 !important;
}

.show {
  transform: translate(-50%, 5%) scale(1) !important;
  transition: transform 0.15s ease;
}

.hide {
  display: none !important;
  z-index: -1 !important;
}

.not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  user-select: none;
}
