#logout-button {
  background-color: #410000;
  border: none;
  border-radius: 0 0 10px 10px;
  bottom: -25px;
  color: #fff;
  cursor: pointer;
  left: 0.2%;
  padding: 5px;
  position: absolute;
  width: 100%;
}

#logout-button:hover {
  background-color: #5a1a1a;
}

@media (min-width: 1367px) {
  #logout-button {
    bottom: -38px;
    font-size: 25px;
  }
}
