.terminal__command-blocks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(90vh - 50vh);
  overflow-y: auto;
  padding: 15px;
}

.terminal__command-blocks::-webkit-scrollbar {
  width: 12px;
}

.terminal__command-blocks::-webkit-scrollbar-track {
  background: #3e3f3f;
}

.terminal__command-blocks::-webkit-scrollbar-thumb {
  background-color: #3e3f3f;
  border: 2px solid #0e0e0e;
}

@media (min-width: 1367px) {
  .terminal__command-blocks {
    height: calc(90vh - 45vh);
  }
}

@media (max-height: 300px) {
  .terminal__command-blocks {
    height: calc(90vh - 48vh);
  }
}
