.audio-content {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: max-content;
}

@media (orientation: landscape) and (max-height: 600px) and (max-width: 800px) {
  .ingame-settings .audio-content {
    justify-content: flex-start;
    position: relative;
    width: 100%;
  }
}

@media (max-width: 580px) {
  .audio-content {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
