@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--window_message_text_color);
  }
}

.--result-effect {
  animation: typing 3s steps(130, end), blink-caret 0.75s step-end infinite;
  white-space: nowrap;
}
